<div class="container">
    <div class="card card-2x allow-overflow-y">
        <div class="card-body">
            <ul id="rowTab" class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#Dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#Stats">Statistics</a></li>
            </ul>

            <div class="tab-content">
                <div id="Dashboard" class="tab-pane fade in active">
                </div>
                <div id="Stats" class="tab-pane fade">
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    
   
    $('.nav-tabs > li:first-child > a')[0].click();
</script>


