@model CareerExpansionMod.CEM.Finances.TeamFinance
@{
    ViewData["Title"] = "LoansAndDebts";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="ctrlLoanAndDebts">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1>Current Loans</h1>
                    <div class="card-body-icon">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    @if (Model != null && Model.Loans != null)
                    {
                        @if (!Model.Loans.Any(x => x.TeamId == ViewBag.TeamId))
                        {
                            <p>You have no loans</p>
                        }
                        else
                        {
                            <ul class="list-unstyled">
                                @foreach (var item in Model.Loans)
                                {
                                    <li></li>
                                }
                            </ul>
                        }


                    }
                    else
                    {
                        <p>You have no loans</p>
                    }
                </div>
            </div>
            <div class="card" ng-show="IsLoanAvailable" ng-click="AcceptLoan(@CareerExpansionMod.CEM.Finances.Loan.CalculateLoanCostPerMonth(null,
                                           CareerExpansionMod.CEM.Finances.Loan.CalculateLoanAmountForTeam(null), 8.5, 48), 48)">
                <div class="card-body">
                    <h1>Get a loan</h1>
                    <div class="card-body-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <p>
                        Hi,<br />
                        You can obtain a loan of @CareerExpansionMod.CEM.Finances.Loan.CalculateLoanAmountForTeam(null) for a period of 48 months at the interest rate of 12.5%.<br />
                        This would cost you @CareerExpansionMod.CEM.Finances.Loan.CalculateLoanCostPerMonth(null,
                                           CareerExpansionMod.CEM.Finances.Loan.CalculateLoanAmountForTeam(null), 12.5, 48) per month for the period.
                        <hr />
                        Would you like to take out this loan?
                        <br />
                        <strong>Click to ACCEPT</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-2x">
                <div class="card-body">
                    <h1>Current Company Debts</h1>
                    <div class="card-body-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @if (Model != null && Model.Debts != null)
                    {
                        @if (!Model.Debts.Any(x => x.TeamId == ViewBag.TeamId))
                        {
                            <p>You have no debts</p>
                        }
                        else
                        {
                            <h3>Stadium</h3>
                            <ul class="list-unstyled">
                                @foreach (var item in Model.Debts)
                                {
                                    <li></li>
                                }
                            </ul>
                            <hr />
                            <h3>Owner / Club</h3>
                            <ul class="list-unstyled">
                                @foreach (var item in Model.Debts)
                                {
                                    <li></li>
                                }
                            </ul>
                        }


                    }
                    else
                    {
                        <p>You have no debts</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*@(await Html.RenderComponentAsync<CareerExpansionMod.Components.Finances.DebtsList>(RenderMode.ServerPrerendered, new { Model }))*@