
@{
    ViewData["Title"] = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Club Sponsors and Partnerships</h1>

<div class="row">
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/yobet.png" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Main Sponsor
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/joma.png" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Sportswear Partner
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/low-cost-vans.png" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Club Partner
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/swansea-university.png" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Training Wear Partner
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/village-hotels.png" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Gym Supplier
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <img src="~/images/carling.jpg" style="width: 100%;" />
        </div>
        <div class="card-footer">
            Official Alcohol Drink Supplier
        </div>
    </div>
</div>

