@page
@using CareerExpansionMod
<h1>Roadmap</h1>
<p></p>
<div class="container text-left">
            <h2>Phases</h2>
            <ul>
                <li>
                    <h4>Phase 1</h4>
                    <ul>
                        <li>Proof of Concept release to test the idea will work on all sorts of systems</li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 2</h4>
                    <ul>
                        <li>Finances: Complete all Sponsorship options</li>
                        <li>Finances: Add loans and debts option</li>
                        <li>Youth System: Add initial Youth System Option with games played throughout your season</li>
                        <li>Stats: Add simple statistics saving for your own team</li>
                        <li>Squad: See your team's hierachy and dynamics (Leaders to Trouble makers) </li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 3</h4>
                    <ul>
                        <li>Transfers: Overwrite EA Transfer System</li>
                        <li>Youth System: Allow full control of your youth team selection and tactics</li>
                        <li>Stats: Add simple statistics saving for all teams, including previous seasons</li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 4</h4>
                    <ul>
                        <li>Settings&nbsp;&amp;&nbsp;Cheats: Finish off the system with various options and cheat settings</li>
                    </ul>
                </li>
                <li>
                    <h4>Experiments (Not promised features)</h4>
                    <ul>
                        <li>Dynamically change your kits with your sponsors and kit creators</li>
                        <li>Dynamically change your adboard with your sponsors</li>
                        <li>Dynamically change your players looks. Replacing my Career Mod Dynamic system.</li>
                        <li>Create your own Kit using a Kit Creator</li>
                    </ul>
                </li>
            </ul>
</div>

