@page
@using CareerExpansionMod
<h1>Roadmap</h1>
<p></p>
<div class="container text-left">
            <h2>Phases</h2>
            <ul>
                <li>
                    <h4>Phase 1</h4>
                    <ul>
                        <li>Proof of Concept release to test the idea will work on all sorts of systems</li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 2</h4>
                    <ul>
                        <li>Finances: Complete Sponsorship options</li>
                        <li>Finances: Add loans and debts option</li>
                        <li>Youth System: Add initial Youth System Option with games played throughout your season</li>
                        <li>Stats: Add simple statistics saving for your own team</li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 3</h4>
                    <ul>
                        <li>Transfers: Overwrite EA Transfer System</li>
                        <li>Youth System: Allow full control of your youth team selection and tactics</li>
                        <li>Stats: Add simple statistics saving for all teams</li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 4</h4>
                    <ul>
                        <li>Settings&nbsp;&amp;&nbsp;Cheats: Finish off the system with various options and cheat settings</li>
                    </ul>
                </li>
            </ul>
</div>

