
@{
    ViewData["Title"] = "Index";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card overflow-hidden">
                    <div class="card-body" ng-href="#!Transfers/ManualTransfer">
                        <h4>Manual Transfer</h4>
                        <div class="card-body-icon">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <strong>(AI Only)</strong>
                        <p>Manually transfer a player from one AI team to another AI team</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card overflow-hidden">
                    <div class="card-body" id="budgetView">
                        <h4>Scouting</h4>
                        <div class="card-body-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <strong>(NOT AVAILABLE IN THIS VERSION)</strong>
                        <p>Assign scouts and find the players to suit your team and playstyle</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card overflow-hidden">
                    <div class="card-body" id="budgetView">
                        <h4>Search for a Player</h4>
                        <div class="card-body-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <strong>(NOT AVAILABLE IN THIS VERSION)</strong>
                        <p>Manually search for a player</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card overflow-hidden">
                    <div class="card-body" id="budgetView">
                        <h4>Offer your own player to teams</h4>
                        <div class="card-body-icon">
                            <i class="fas fa-trash"></i>
                        </div>
                        <strong>(NOT AVAILABLE IN THIS VERSION)</strong>
                        <p>Offer your own players to AI teams. This is useful for getting rid of your unwanted players.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card overflow-hidden">
                    <div class="card-body" id="budgetView">
                        <h4>Transfer History</h4>
                        <div class="card-body-icon">
                            <i class="fas fa-history"></i>
                        </div>
                        <strong>(NOT AVAILABLE IN THIS VERSION)</strong>
                        <p>View the previous transfers broken down by Nations, Leagues and Teams</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


